<link rel="stylesheet" type="test/css" href="/css/nav.css">

<div class="container" id="header">
    <nav class="navbar navbar-expand-sm bg-light fixed-top">

        <!-- TITLE -->
        <h1 class="nav-item">Bootcamp Repo</h1>

        <!-- Links -->
        <ul class="navbar-nav" id="links">
            <c:if test="${loggedIn != null}">
                <li class="nav-item">
                    <a class="nav-link" href="/user/${user.id}">${user.fname}</a>
                </li>
            </c:if>

            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>

            <c:if test="${loggedIn == null}">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Register</a>
                </li>
            </c:if>
            
            <c:if test="${loggedIn != null && user.userlevel == 5}">
                <div class="container dropdown" id='adminPanel'>
                    <li class="nav-item">
                        <div class="dropdown btn-group">
                            <button type="button" class="btn nav-link" href="/admin/categories">Admin Panel</button>
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropwdonMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/admin/categories">Categories</a>
                                <a class="dropdown-item" href="/admin/threads">Threads</a>
                                <a class="dropdown-item" href="/admin/posts">Posts</a>
                                <a class="dropdown-item" href="/admin/users">Users</a>
                                <a class="dropdown-item" href="/admin/bootcamps">Bootcamps</a>
                            </div>
                        </div>
                    </li>
                </div>
            </c:if>

            <c:if test="${loggedIn != null}">
                <li class="nav-item">
                    <a href="/logout" class="nav-link" href="/logout">Logout</a>
                </li>
            </c:if>
        </ul>

        <div class="search nav-item">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>