* {
    /* ENABLE THIS LINE TO TEST CSS RELOAD */
    /* border: 1px solid red;  */
}
#body {
    /* position:  absolute; */
    margin-top: 70px;
    display: flex;
    width: 90%;
    background-color: gray;
}

.footer {
    /* position:  absolute; */
    margin-top: 100px;
}

#header {
    width: 100vw;
    margin-bottom: 5px;
}

.navbar {
    justify-content: space-between;
}

.navbar-nav {
    width: 40%;
    justify-content: space-between;
}
